body {
    background-color: #31363F;
    color: white;
    font-family: arial, Courier, monospace;
    font-size: 35px;
}
.title {
    text-align: center;
    font-size: 35px;
    width: 250px;
    padding: 8px;
    margin: auto;
    border: 3px solid #76ABAE;
    background-color: #31363F;
}
.body {
    list-style-type: none;
    padding: 0px;
    width: 180px;
    text-align: center;
    border: 3px solid #76ABAE;
    background-color: #31363F;
}
a:visited {
    color:white;
}
div {
    text-align: center;
    padding: 8px;
    margin: auto;
    background-color: #31363F;
}
